# docker-compose.yaml

version: '3.8'
services:
  db:
    image: postgres:latest
    ports:
      - ${DB_PORT}:5432
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    networks:
      - mNetWork

networks:
  mNetWork: